annotated-doc
annotated-types
anyio
cachetools
certifi
charset-normalizer
durationpy
fastapi
google-auth
h11
httpcore
httpx
idna
iniconfig
kubernetes
oauthlib
packaging
pluggy
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pytest
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
six
sniffio
starlette
typing-inspection
typing_extensions
urllib3>=2.5.0
websocket-client
pytest-asyncio
uvicorn