---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-task-ktasker-com-v1-ktask
  failurePolicy: Fail
  name: mktask.kb.io
  rules:
  - apiGroups:
    - task.ktasker.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ktasks
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-task-ktasker-com-v1-ktask
  failurePolicy: Fail
  name: vktask.kb.io
  rules:
  - apiGroups:
    - task.ktasker.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ktasks
  sideEffects: None
