---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-custom-custom-io-v1-jobrequest
  failurePolicy: Fail
  name: mjobrequest.kb.io
  rules:
  - apiGroups:
    - custom.custom.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - jobrequests
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-custom-custom-io-v1-jobrequest
  failurePolicy: Fail
  name: vjobrequest.kb.io
  rules:
  - apiGroups:
    - custom.custom.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - jobrequests
  sideEffects: None
