---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - custom.custom.io
  resources:
  - jobrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - custom.custom.io
  resources:
  - jobrequests/finalizers
  verbs:
  - update
- apiGroups:
  - custom.custom.io
  resources:
  - jobrequests/status
  verbs:
  - get
  - patch
  - update
