name: Security Scan

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main

jobs:
  dependency-scan:
    name: Scan Dependencies for Vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run Go vulnerability check
        run: go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./...

      - name: Run Python vulnerability check
        run: |
          pip install pip-audit
          # Audit the dependencies specified in requirements.txt files
          pip-audit -r requirements.txt

  trufflehog:
    name: TruffleHog Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # We need to fetch the full history to scan it.
          fetch-depth: 0

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@main
        with:
          # Scan the entire git history for secrets
          path: ./
          extra_args: --only-verified